language: python
sudo: false
cache: pip

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

install:
  - pip install --use-mirrors -r requirements/package.txt -r requirements/qa.txt

script:
  - py.test
  - flake8

notifications:
  email:
    - nineseconds@yandex.ru
